#content{
    height: 100%;
    flex-flow:wrap
}

#sidenav{
    height: 100%;
    position: absolute;
}

#data-content{
    margin-left: 200px;
}

i{
    margin-right: .2em;
}
.card {
    border: none;
}

.card-header{
    background-color: white;
}

.card-content {
    margin: 2rem;
}

.dark-theme{
    background-color: rgb(30, 29, 35);
    color: white;
}

.bg-dark {
    background-color: rgb(30, 29, 35);
}

.dark-theme button {
    color: white;
}

.dark-theme button:hover{
    color: rgba(235, 235, 235, .8);
}

.key_feature__header{
    height: 5em;
}

.key_feature__thumbnail {
    height: 15em !important;
}

.big-banner{
    height: 25em;
}

a {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

button a {
    color: #B2853B;
}

.bg-alice-blue {
    background-color: aliceblue;
}

button:hover {
    background-color: #B2853B;
}

button:hover a {
    color: white;
}


.button:focus, .form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}

.song:not(last-child) {
    border-bottom: 1px solid rgba(235, 235, 235, .8);
}

.song:not(first-child) {
    border-top: 1px solid rgba(235, 235, 235, .8);
}

.bg-blast-brown {
    background-color: #B2853B;
}

.text-blast-brown {
    color: #B2853B;
}

.song-list .song span:not(first-child) {
    margin-left: 1rem;
}


/* ++++++++++++++++Artist+++++++++++++++++ */

.artist-card {
    height: 180px;
    border-radius: 20px;
}

.simple-card {
    height: 180px;
    border-radius: 10px;
}


table thead th{
    font-size: smaller;
}

tbody td {
    font-size: smaller;
    font-weight: 300;
}

.report-table-div {
    max-height: 500px !important;
    overflow-y: scroll;
}

.report-table-div thead tr:nth-child(1) th{
    background: #B2853B;
    color: white;
    position: sticky;
    font-size: small;
    top: 0;
    z-index: 10;
    padding-top: 2%;
    padding-bottom: 2%;
}
.table > :not(:first-child) {
    border-top: none;
}

table thead{
    border-bottom-width: 2px !important;
    /* border-bottom: 2px solid grey; */
}

.table thead tr th {
    border-bottom: none;
}


.overflow-auto::-webkit-scrollbar, mat-dialog-container::-webkit-scrollbar {
    width: 4px !important;
    height: 4px;               /* width of the entire scrollbar */
  }

.overflow-auto::-webkit-scrollbar-track, mat-dialog-container::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
}

.overflow-auto::-webkit-scrollbar-thumb, mat-dialog-container::-webkit-scrollbar-thumb {
    background-color: grey;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 1px solid orange; creates padding around scroll thumb */
}

.btn {
    border: none;
}

.btn-primary{
    background-color: #B2853B;
    color: white;
}

.btn-primary:hover{
    opacity: .75;
    background-color: #B2853B;
}

.text-bright-orange{
    color: rgb(252, 82, 7)
}