#content{
    height: 100%;
    flex-flow:wrap
}

#sidenav{
    height: 100%;
    position: absolute;
}

#data-content{
    margin-left: 200px;
}

i{
    margin-right: .2em;
}
.card {
    border: none;
}

.card-header{
    background-color: white;
}

.card-content {
    margin: 2rem;
}

.dark-theme{
    background-color: rgb(30, 29, 35);
    color: white;
}

.bg-dark {
    background-color: rgb(30, 29, 35);
}

.dark-theme button {
    color: white;
}

.dark-theme button:hover{
    color: rgba(235, 235, 235, .8);
}

.key_feature__header{
    height: 5em;
}

.key_feature__thumbnail {
    height: 15em !important;
}

.big-banner{
    height: 25em;
}

a {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

button a {
    color: #B2853B;
}

.bg-alice-blue {
    background-color: aliceblue;
}

button:hover {
    background-color: #B2853B;
}

button:hover a {
    color: white;
}


.button:focus, .form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}

.song:not(last-child) {
    border-bottom: 1px solid rgba(235, 235, 235, .8);
}

.song:not(first-child) {
    border-top: 1px solid rgba(235, 235, 235, .8);
}

.bg-blast-brown {
    background-color: #B2853B;
}

.text-blast-brown {
    color: #B2853B;
}

.song-list .song span:not(first-child) {
    margin-left: 1rem;
}


/* ++++++++++++++++Artist+++++++++++++++++ */

.artist-card {
    height: 180px;
    border-radius: 20px;
}
